html { 
    font-size: 100%; 
}

body {
    font-family: "Helvetica Neue","Arial","sans-serif";
    background-color: #26262b;
    color: #fff;
    max-width: 1010px;
    margin-left: auto;
    margin-right: auto;
    padding: 75px 75px 0;
}

.page-header {
    padding-left: 17px;
}

img {
    max-width: 100%;
}

.logo {
    width: 350px;
}

.content {
    font-size: 24px;
    font-size: 17px;
    line-height: 1.8em;
    margin: 52px auto 80px;
    padding-left: 15%;
    padding-right: 14px;
}

.content p {
    padding: 0 17px 17px 34px;
}

.page-footer {
    font-size: 12px;
    text-transform: uppercase;
    text-align: right;
    padding-right: 14px;
}

@media (max-width: 767px) {
    body {
        padding: 38px 38px 0;
    }
    
    .content {
        margin-bottom: 70px;
        padding-left: 0;
    }
}

@media (max-width: 640px) {
    body {
        margin: 0 auto;
        padding-top: 80px;
        padding-left: 17px;
        padding-right: 17px;
    }
    .page-header {
        text-align: center;
    }
    .content {
        margin-bottom: 60px;
        padding-right: 0;
    }
    .content p {
        padding-left: 0;
        padding-right: 0;
    }
    .page-footer {
        padding-right: 0;
    }
}
